iframe {
  height: 100vh;
}

li {
  list-style: none;
}

.searchbtn{
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  padding:7px;
  border-radius: 5px;
}

.searchbtn:hover{
  color:white !important;
  padding:8px;
  border-radius: 5px;
}

.chatList {
  margin-left: -50px;
}

 .searchInput{
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
  font-size: 20px;
  border: 0px solid White;
}
.searchInput:focus{
  outline-style: none;
}
.searchDiv{
  padding: 5px;
  display:inline-block;
  border-bottom: 2px solid white;
}

.bubble:nth-child(odd) {
    background-color: rgba(0, 188, 140, 0.57);
    border: 0px solid #c8c8c8;
    border-radius: 20px;
    text-align: left;
    padding: 10px;
    padding-left: 25px;
    margin: 10px;
    word-wrap: break-word;
    color: white;
}

.bubble:nth-child(even) {
    background-color: rgba(103, 103, 103, 0.69);
    border: 0px solid #c8c8c8;
    border-radius: 20px;
    text-align: right;
    padding: 10px;
    padding-right: 25px;
    margin: 10px;
    word-wrap: break-word;
    color: white;
}
iframe{
  border:0px solid white;
}
.block {
  display: block;
  margin-top: 40px;
  padding-left: 0px;
}

.articleTitle:hover {
  cursor: pointer;
}

.navbar, .navbar-default {
  background-color: #375a7f;
  color: white !important;
}

.navbar-brand {
  color: white;
}

body {
  color: white;
  background-color: #222222;
}

.nav li a {
  color: white;
}

a {
  color: #0CDD8D
}

a:hover {
  color: #188848;
  text-decoration: none;
}

a:active {
  color: #188848;
  text-decoration: none;
}

a:visited {
  color: #188848;
  text-decoration: none;
}

.list-group-item {
  background-color: rgba(103, 103, 103, 0.69);
  color: white;
}

a.list-group-item, button.list-group-item {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}
